NODE_ENV=development
WORKER_HOST=0.0.0.0
WORKER_PORT=3333
WORKER_SECRET=change_worker_secret
MESSAGE_MIN_INTERVAL_MS=5000
MESSAGE_REQUIRE_OPT_IN=true
APP_KEY=change_me_32_chars_minimum_key_123

PHP_API_URL=http://php-app:80
PHP_INTERNAL_SECRET=change_internal_secret

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=zapcore_gateway
DB_USERNAME=zapcore
DB_PASSWORD=zapcore_pass
