APP_NAME="ZapCore Gateway"
APP_ENV=local
APP_URL=http://localhost:8080
APP_KEY=change_me_32_chars_minimum_key_123

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=zapcore_gateway
DB_USERNAME=zapcore
DB_PASSWORD=zapcore_pass

INTERNAL_SECRET=change_internal_secret
WORKER_URL=http://baileys-worker:3333
WORKER_SECRET=change_worker_secret

MESSAGE_SAFETY_ENABLED=true
MESSAGE_REQUIRE_OPT_IN=true
MESSAGE_MAX_PER_MINUTE=12
MESSAGE_MIN_INTERVAL_SECONDS=5
MESSAGE_RECIPIENT_COOLDOWN_SECONDS=10
MESSAGE_DUPLICATE_WINDOW_SECONDS=300
MESSAGE_MAX_PER_DAY=500
MESSAGE_MAX_UNIQUE_RECIPIENTS_PER_DAY=250
MESSAGE_MAX_PENDING_PER_INSTANCE=500
