APP_NAME="ZapCore Gateway"
APP_ENV=local
APP_URL=http://localhost:8080
APP_KEY=change_me_32_chars_minimum_key_123

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=zapcore_gateway
DB_USERNAME=zapcore
DB_PASSWORD=zapcore_pass

INTERNAL_SECRET=change_internal_secret
WORKER_URL=http://baileys-worker:3333
WORKER_SECRET=change_worker_secret
