<IfModule mod_mime.c>
    AddType application/manifest+json .webmanifest
</IfModule>

<IfModule mod_headers.c>
    <Files "service-worker.js">
        Header set Service-Worker-Allowed "/"
        Header set Cache-Control "no-cache"
    </Files>
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
